# IDE y build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos de configuración de Firebase y Google
google-services.json
GoogleService-Info.plist

# Llaves de firma (Keystores)
*.jks
*.keystore
*.pem
*.p12

# Archivos de claves secretas personalizados
key.properties
secrets.properties

# Archivos extra
*.log
generated/
.idea/codeStyles
